<p id="notice"><%= notice %></p>

<h1>Anniversaries</h1>

<table class= "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anniversaries.each do |anniversary| %>
      <tr>
        <td><%= anniversary.name %></td>
        <td><%= anniversary.date %></td>
        <td><%= anniversary.description %></td>
        <td><%= anniversary.year %></td>
        <td><%= anniversary.month %></td>
        <td><%= anniversary.day %></td>
        <td><%= link_to 'Show', anniversary %></td>
        <td><%= link_to 'Edit', edit_anniversary_path(anniversary) %></td>
        <td><%= link_to 'Destroy', anniversary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anniversary', new_anniversary_path %>
